# workspace
tmp
imgs/debian*
pkgs
pkgs*
.firmware_last
enabled/*
.firmware*
.idea
.config
.config*
jangbi_aide.log
jangbi.log
output.log
run.log
swapfile
plugins/testing
nohup.out
stopspinning
.task-desktop

# pyvenv
venv
bin
lib/python*
lib64
share
site
htmlcov
tmp

# packaging
*.egg-info
build
dist
*.egg
.eggs
pyvenv.cfg

# python
*.py[codz]
*$py.class

# tools
.tox
.*_cache
.DS_Store

# IDE
.idea
.vscode

/docs/_draft.rst
/pip-wheel-metadata
/src/virtualenv/version.py
/src/virtualenv/out
.python-version

*wheel-store*

Dockerfile*
.dockerignore